.mapa_container
  float: right
  width: 100% // Ajusta según sea necesario
  height: 90vh // Ajusta según sea necesario
  background-color: #f0f0f0
  border: 1px solid #ccc
  padding: 10px

  .card
    padding: 5px
    border: 1px solid #ddd
    border-radius: 8px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    margin: 10px

.sidenav
  width: 50%


.sidenav-content
  padding: 20px
  height: 100%




