<div mat-dialog-content class="modalC">
  <div>
    <div mat-dialog-content>
      <div class="card">
        <div class="card-content">
          <h2>Dirección: {{ servicio.address }}</h2>
          <p> Nombre: {{ servicio.service_name }}</p>
          <p> Descriptión: {{ servicio.typology.typology_description  }}</p>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>

